@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// font
$primaryFont: Montserrat;
$secondaryFont: Roboto;
$inputFontSize: 1.2rem;
// color
$mainColor: #efefef;
$darkColor: #000;
$activeColor: #ACE1AF;
$dangerColor: tomato;
// width & height
$inputSmallWidth: 150px;
$inputBigWidth: 250px;
$inputHeight: 40px;
// boxShadow
$boxShadowActive: inset -2px -2px 6px rgba(255, 255, 255, .7),
inset -2px -2px 4px rgba(255, 255, 255, .5),
inset 2px 2px 2px rgba(255, 255, 255, .075),
inset 2px 2px 4px rgba(0, 0, 0, .15);

// ! Reset, defaultFont, userSelect
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $primaryFont;
	user-select: none;
}
// ! user-select ON
.Tag_read{
	user-select: text;
	cursor: text !important;
}
[type="text"], textarea, .Tag {
	font-family: $secondaryFont;
}
// ? Reset, defaultFont, userSelect
// ! cursor
button, .StatusBlock, .IconText, .Synonym .Tag, .circle, select, .Icon__bg{
	cursor: pointer;
}
// ? cursor



// ! tags
body, input, select {
	background: $mainColor;
}
button, .AnswerBlock, .lang, [type="text"], .Icon__bg, .Tag {
  padding: 0.5em 2em;
  background: $mainColor;
  border: none;
  border-radius: .5rem;
  color: #444;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .15);
}
button:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              -2px -2px 4px rgba(255, 255, 255, .4),
              2px 2px 2px rgba(255, 255, 255, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
}
button:active {
  box-shadow: $boxShadowActive;
}
[type="text"] {
	display: block;
	width: $inputBigWidth;
	border: none;
	padding: 0;
	text-align: left !important;
	font-size: $inputFontSize;
	text-indent: 8px;
	outline: none;
	height: $inputHeight;
	box-shadow: inset 2px 2px 5px #babecc,
	inset -5px -5px 10px #ffffff73;
}
// ? tags
// ! danger
.danger{
	color: $dangerColor;
	&:hover,&:active{
		background: lighten($dangerColor, 30%);
	}
}
// ? danger

.StatusBlock {
	color: #7b737e;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	background: $mainColor;
	border-radius: 10px;
	width: 45%;
	min-width: 120px;
	&_main{
		padding: 10px;
		margin: 5px;
	}
} 
.StatusBlocks, .addSection, .addSection__top, .translated, .answerBlocks, .answer, .mistake, .wordAlert, .Tags, .IconText, .usage, .buttons, .translated__word {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 50%;
	max-width: 700px;
	min-width: 290px;
	margin: 0 auto 50px;
}
.addSection__top{
	width: auto;
	flex-direction: column;
}
[name="add2"]{
	margin-top: 5px;
}
.translated {
	margin: 0px auto 25px;
	position: sticky;
	z-index: 2;
	top: 0;
	background: $mainColor;
	&__word{
		margin-top: 30px;
		margin-bottom: 15px;
		font-style: italic;
		font-weight: 600;
		font-size: 1.15rem;
		padding-bottom: 4px;
		text-align: center;
		width: 90%;
	}
	.buttons{
		margin: 0px 0 15px;
	}
}
.AnswerBlock {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	padding: 0;
}
.answerBlocks {
	width: 100%;
	margin-top: 50px;
}
.activeBlock {
	box-shadow: $boxShadowActive;
	filter: saturate(500%);
	&:hover{
		box-shadow: $boxShadowActive;
	}
}
.circle {
	border: 1px solid $darkColor;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	&_num{
		padding-right: 17px;
		margin-right: 5px;
		font-weight: 400;
		font-size: 1rem;
		cursor: default;
		pointer-events: none;
	}
}
.Icon{
	width: 15px;
	&__bg{
		width: 30px;
		height: 30px;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: auto;
	}
}
// synonym usage icon
.sui{
	position: absolute;
	left: 4px;
}
.IconText{
	position: relative;
	min-width: $inputSmallWidth;
	width: $inputSmallWidth;
	font-size: 1.1rem;
	margin-bottom: 15px;
	padding: 30px;
	span{
		margin-left: 4px;
		position: absolute;
		left: 32px;
	}
}
.Tags{
	margin-bottom: 20px;
	min-width: $inputSmallWidth;
	width: $inputSmallWidth;
}
.Tag{
	display: inline-block;
	border-radius: 4px;
	margin: 4px;
	padding: 8px;
	width: $inputSmallWidth;
	&_active{
		background: $activeColor;
	}
	&_read{
		border: none;
		font-weight: 700;
		width: 100%;
		text-align: center;
		cursor: default;
		&:hover{
			background: transparent;
		}
	}
	&__wrap{
		display: flex;
		align-items: center;
	}
}
.usage {
	width: $inputSmallWidth * 2;
	min-height: 1rem;
	word-break: break-all;
	overflow: auto;
	border: 2px solid $darkColor;
	font-size: $inputFontSize;
	&_active{
		background: $activeColor;
	}
	&_read {
		font-weight: 700;
		margin: 4px auto;
		padding: 4px;
		text-align: center;
		font-size: 1rem;
		height: auto;
		cursor: default;
	}
}
.lang{
	border-radius: 7px;
	padding: 0;
	&__wrap{
		display: inline-flex;
	}
}
.drop{
	position: absolute;
	right: 0;
	top: 0;
}
.learned{
	color: $activeColor;
}
.repeat{
	color: lighten(orange, 20%);
}
.learn{
	color: lighten($dangerColor, 20%);
}
.round{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.random{
	padding: 10px;
	img {
		position: absolute;
		left: 12px;
	}
}
.list{
	&__wrap{
		position: relative;
		width: 250px;
	}
	width: $inputSmallWidth;
	&__input{
		// width: $inputBigWidth - 38px;
		width: 100%;
	}
	&__icon{
		height: 38px;
		width: 38px;
	}
	&__options{
		position: absolute;
		top: $inputHeight;
		left: 0;
		width: 100%;
		background: darken($mainColor, 3%);
		max-height: 200px;
		overflow: auto;
	}
	&__option{
		padding: 10px;
	}
}
// ! other
// margin all
.ma{
	margin: 15px;
}
.m0{
	margin: 0;
}
.m0a{
	margin: 0 auto;
}
.ml{
	margin-left: 15px;
}
.mb{
	margin-bottom: 15px;
}
.mr{
	margin-right: 15px;
}
.mt{
	margin-top: 15px;
}
.p0{
	padding: 0;
}
.w100{
	width: 100%;
}
.bn{
	border: none;
}
.dn{
	display: none;
}
.bshn{
	box-shadow: none;
}
.rb{
	border: 2px solid red;
}
.f{
	display: flex;
}
.fcc{
	display: flex;
	align-items: center;
	justify-content: center;
}
.db{
	display: block;
}
.dib{
	display: inline-block;
}
.zi2{
	z-index: 2;
}
.zi3{
	z-index: 3;
}
// ? other