@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// font
$primaryFont: Montserrat;
$secondaryFont: Roboto;
// color
$darkColor: #000;
$activeColor: #ACE1AF;
// width
$inputWidth: 150px;

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $primaryFont;
}
[type="text"], textarea {
	font-family: $secondaryFont;
}



button {
	border-radius: 20px;
	padding: 2px 6px;
	border: 2px solid;
	background: transparent;
	font-size: 1rem;
}
.ml{
	margin-left: 15px;
}
[type="text"] {
	display: block;
	border: none;
	border-bottom: 1px solid $darkColor;
	font-size: 1.2rem;
}
.StatusBlock {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid $darkColor;
	border-radius: 10px;
	width: 45%;
	min-width: 120px;
	&_main{
		padding: 10px;
		margin: 2.5px;
	}
}
.StatusBlocks, .addSection, .translated, .answerBlocks, .answer, .mistake, .noWords, .Tags, .IconText, .usage {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 50%;
	max-width: 600px;
	min-width: 290px;
	margin: 0 auto 50px;
}
.translated {
	&__word{
		font-style: italic;
		font-weight: 600;
		font-size: 1.15rem;
		padding-bottom: 4px;
	}
}
.AnswerBlock {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border: 1px solid $darkColor;
}
.answerBlocks {
	width: 100%;
	margin-top: 50px;
}
.activeBlock {
	background: $activeColor;
}
.rules {
	border: 1px solid $darkColor;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Icon{
	width: 15px;
	&__bg{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 1px solid $darkColor;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: auto;
	}
}
.IconText{
	position: relative;
	min-width: $inputWidth;
	width: $inputWidth;
	font-size: 1.1rem;
	margin-bottom: 0;
	span{
		margin-left: 4px;
		position: absolute;
		left: 32px;
	}
}
.Tags{
	margin-bottom: 20px;
	min-width: $inputWidth;
	width: $inputWidth;
}
.Tag{
	display: inline-block;
	border: 1px solid $darkColor;
	border-radius: 4px;
	margin: 4px;
	padding: 4px;
	width: $inputWidth;
	&_active{
		background: $activeColor;
	}
	&_read{
		border: none;
		font-weight: 700;
		width: 100%;
		text-align: center;
	}
}
.usage {
	min-width: $inputWidth;
	width: $inputWidth;
	&_read {
		font-weight: 700;
		margin: 4px auto;
		padding: 4px;
		text-align: center;
	}
}