@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primaryFont: Montserrat;
$secondaryFont: Roboto;

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $primaryFont;
}
[type="text"], textarea {
	font-family: $secondaryFont;
}



button {
	border-radius: 20px;
	padding: 2px 6px;
	border: 2px solid;
	background: transparent;
	font-size: 1rem;
}
.ml{
	margin-left: 15px;
}
[type="text"] {
	display: block;
	border: none;
	border-bottom: 1px solid;
	font-size: 1.2rem;
}
.StatusBlock {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid;
	border-radius: 10px;
	width: 45%;
	min-width: 120px;
	&_main{
		padding: 10px;
		margin: 2.5px;
	}
}
.StatusBlocks, .addSection, .translated, .answerBlocks, .answer, .mistake, .noWords {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 50%;
	max-width: 600px;
	min-width: 290px;
	margin: 0 auto 50px;
}
.translated {
	&__word{
		font-style: italic;
		font-weight: 600;
		font-size: 1.15rem;
		padding-bottom: 4px;
	}
}
.AnswerBlock {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border: 1px solid;
}
.answerBlocks {
	width: 100%;
}
.activeBlock {
	background: #e7e7e7;
}
.rules {
	border: 1px solid;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}